<html>
<head>
  <title>Names</title>
</head>
<body>

<h1>First-Kind Names</h1>
{% if first_users %}
{% for entity in first_users %}
<div>{{entity.name|escape}}</div>
{% endfor %}
{% else %}
None.
{% endif %}

<h1>Second-Kind Names</h1>
{% if second_users %}
{% for entity in second_users %}
<div>{{entity.last|escape}}, {{entity.first|escape}}</div>
{% endfor %}
{% else %}
None.
{% endif %}

<h1>Add name</h1>
<form action="/names" method="post">
  <p><label for="name">Name:</label> <input type="text" name="name" id="name">
  <p>
    <label for="kind">Model Kind:</label>
    <select name="kind" id="kind">
      <option value="first">First Kind</option>
      <option value="second">Second Kind</option>
    </select>
  <p><input type="submit" name="" value="Add">
</form>

<h1>Migrate</h1>

<form action="/start_migration" method="post">
  <p>
    <select name="kind">
      <option value="second">First to Second</option>
      <option value="first">Second to First</option>
    </select>
  <p><input type="submit" name="" value="Migrate">
</form>

</body>
</html>