#output {
  font-family: monospace;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}