{% extends "skeleton.html" %}
{% block page_title %}XMPP Viewer{% endblock %}

{% block page_head %}
  <script src="/templates/xmpp.js"></script>
  <link type="text/css" rel="stylesheet" href="/assets/xmpp.css">
{% endblock %}


{% block body %}
<div id="xmpp">
  <h3>XMPP</h3>
  <div id="xmpp-feedback"></div>
  <form id="xmpp-form" action="/xmpp" method="post">
    <div class="ae-settings-block ae-settings-block-segment">
      <label>Message type</label>
      <fieldset>
        <div class="radio">
          <input type="radio" name="message_type" id="message-type-chat" value="chat" checked="checked">
          <label for="message-type-chat">Chat message</label>
        </div>
        <div class="radio">
          <input type="radio" name="message_type" id="message-type-presence" value="presence">
          <label for="message-type-presence">Presence</label>
        </div>
        <div class="radio">
          <input type="radio" name="message_type" id="message-type-subscribe" value="subscribe">
          <label for="message-type-subscribe">Subscription</label>
        </div>
      </fieldset>
    </div>

    <div class="ae-settings-block">
      <label for="from">From</label>
      <input type="text" id="from" name="from" size="40">
    </div>


    <div class="ae-settings-block">
      <label for="to">To</label>
      <input type="text" id="to" name="to" size="40">
    </div>


    <div id="chat-fields" class="ae-settings-block">
      <label for="chat">Chat (plain text)</label>
      <textarea id="chat" name="chat" rows="10" cols="50"></textarea>
    </div>

    <div id="presence-fields" class="ae-settings-block">
      <label>Status</label>
      <fieldset>
        <div class="radio">
          <input type="radio" id="presence-online" name="presence" value="online" checked>
          <label for="presence-online">Available</label>
        </div>

        <div class="radio">
          <input type="radio" id="presence-offline" name="presence" value="offline">
          <label for="presence-offline">Unavailable</label>
        </div>
      </fieldset>
    </div>

    <div id="subscribe-fields" class="ae-settings-block">
      <label>Notification Type</label>

      <fieldset>
        <div class="radio">
          <input type="radio" id="subscribe-subscribe" name="subscribe" value="subscribe" checked>
          <label for="subscribe-subscribe">Subscribe initiated (subscribe)</label>
        </div>

        <div class="radio">
          <input type="radio" id="subscribe-subscribed" name="subscribe" value="subscribed">
          <label for="subscribe-subscribed">Subscribe confirmed (subscribed)</label>
        </div>

        <div class="radio">
          <input type="radio" id="subscribe-unsubscribe" name="subscribe" value="unsubscribe">
          <label for="subscribe-unsubscribe">Unsubscribe initiated (unsubscribe)</label>
        </div>

        <div class="radio">
          <input type="radio" id="subscribe-unsubscribed" name="subscribe" value="unsubscribed">
          <label for="subscribe-unsubscribed">Unsubscribe confirmed (unsubscribed)</label>
        </div>

      </fieldset>
    </div>

    <div id="xmpp-submit">
      <input type="submit" class="ae-button ae-button-submit" value="Make Request">
    </div>
  </form>
</div>
{% endblock %}
